* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-align: center;
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
}

#message {
    border-radius: 5px;
    padding: 13px;
}

#message:focus {
    outline: none;
}

#counter {
    position: relative;
    right: 60px;
    bottom: 10px;
}

@media screen and (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
    }

    #counter {
        position: relative;
        right: -40%;
        bottom: 5%;
    }
}